* text=auto !eol
/AUTHORS -text
/Makefile.am -text
/README -text
/apertium-ga-gd.ga-gd.dix -text
/apertium-ga-gd.ga-gd.t1x -text
/apertium-ga-gd.gd-ga.t1x -text
/apertium-ga-gd.gd.dix -text
/autogen.sh -text
/configure.ac -text
