* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ga-gd.ga-gd.dix -text
/apertium-ga-gd.ga-gd.t1x -text
/apertium-ga-gd.ga.dix -text
/apertium-ga-gd.gd-ga.t1x -text
/apertium-ga-gd.gd.dix -text
/apertium-ga-gd.post-ga.dix -text
/apertium-ga-gd.post-gd.dix -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
